body{
    background-color: rgb(224, 75, 75) !important;
    text-align: center;
}

#logo{
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 20%;
    height: auto;
}

#steamLink{
    top: 10%;
    width: 125%;
}

#youtubeLink{
    top: 5%;
    left: 11.25%;
    background-color: rgba(255, 255, 255, 0.3);
    width: 75%;
    height: 75%;
    position: absolute;
    border-right-width: 0.4em;
    border-left-width: 0.4em;
    border-style: solid;
    
}

#video {
    position: relative;
    padding-bottom: 56.25%;
    margin-bottom: -10%;
}

#background{
    position: fixed;

    background-image: url("./images/background.png");
    background-repeat: repeat-y;
    background-size: 100% auto;
    width: 52%;
    height: 100%;

    margin-top: 0px;
    margin-bottom: 0px;
    bottom: 0;
    top: 0;
    left: 24%;
}

