body{
    background-color: rgb(224, 75, 75) !important;
    text-align: center;
    background-image: url("./images/background.png");
    background-repeat: repeat;
}

#logo{
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 15%;
    min-width: 100px;
    max-width: 200px;
    height: auto;
}


.auto-resizable-iframe {
    max-width: 500px;
    width: 80%;
    height: 100%;
    margin: 0px auto;
  }
  
.auto-resizable-iframe > div {
    position: relative;
    padding-bottom: 56%;
    height: 0px;
}
  
.auto-resizable-iframe iframe {
    position: absolute;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    box-shadow: 7px 10px rgba(0, 0, 0, 0.85)
}

.container {
    position: absolute;
    width: 100%;
    height: auto;
    top: 20%;
    left: 0;
}